.cproject
.project
.pydevproject
.sconsign.dblite

*.pyc
*.suo

.settings/
.localhistory/
Dbg/
Opt/

*/Temp/
*/TestResults/

*/.svn/
.svn/
bin/
Bin/
obj/
_ReSharper.CSharp/
*.opensdf
*.sdf
/CSharp/CSharp.sln.ide
/Unity/Library
/Unity/CSharp60Support/compilation log.txt
/CSharp/CSharp.VC.opendb
/Server/Server.VC.opendb
/Log
/Temp
/Logs
/Unity/CSharp60Support/compilation.log
/.vs
/Server/.vs/
/Unity/.vs/
/Tools/MongoDB
/Excel/md5.txt
/Release
.idea/
/Unity/Logs
/Unity/Assets/StreamingAssets/
/netcoreapp2.0
/Unity/Assets/StreamingAssets.meta
.DS_Store
Server/.DS_Store
/Server/.vscode/
.vs/
.objs/
/Unity/.gradle
/*.user

Unity/ProjectSettings/

Unity/Packages/

Config/

Unity/Assets/Plugins/AstarPathfindingProject/DotNetZip/Pathfinding\.Ionic\.Zip\.Reduced\.dll\.meta

Unity/Assets/Plugins/Editor/npoi/NPOI\.OOXML\.dll\.meta

Unity/Assets/Plugins/Editor/npoi/NPOI\.OpenXml4Net\.dll\.meta

Unity/Assets/Plugins/Editor/npoi/NPOI\.OpenXmlFormats\.dll\.meta

Unity/Assets/Plugins/ICSharpCode\.SharpZipLib\.dll\.meta

Unity/Assets/Plugins/x86_64/kcp\.dll\.meta

Unity/Assets/Plugins/

Unity/Assets/Model/Module/Pathfinding/AstarPathfindingProject/ExampleScenes/Prefabs/MineBot/mine_bot\.FBX\.meta

Unity/Assets/Model/Module/Pathfinding/AstarPathfindingProject/ExampleScenes/Prefabs/MineBot/mine_bot@awake\.FBX\.meta

Unity/Assets/Model/Module/Pathfinding/AstarPathfindingProject/ExampleScenes/Prefabs/MineBot/mine_bot@back\.FBX\.meta

Unity/Assets/Model/Module/Pathfinding/AstarPathfindingProject/ExampleScenes/Prefabs/MineBot/mine_bot@forward\.FBX\.meta

Unity/Assets/Model/Module/Pathfinding/AstarPathfindingProject/ExampleScenes/Prefabs/MineBot/mine_bot@left\.FBX\.meta

Unity/Assets/Model/Module/Pathfinding/AstarPathfindingProject/ExampleScenes/Prefabs/MineBot/mine_bot@right\.FBX\.meta

Unity/Assets/Res/Code/Hotfix\.dll\.bytes

Unity/Assets/Res/Code/Hotfix\.pdb\.bytes

Unity/Unity\.Model\.csproj

Unity/Unity\.Hotfix\.csproj
